.trabalhos__bg {
  width: 100%;
  background-image: linear-gradient(to bottom right, var(--cinza), var(--branco));
  padding: 10px 10px 60px 10px;
}

.trabalhos__bg h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 30px;
}

.trabalhos__flex {
  display: flex;
  align-items: center;
}

.trabalhos__cartao {
  background-color: var(--branco);
  max-width: 300px;
  min-width: 300px;
  height: 400px;
  box-shadow: 12px 12px 2px 1px var(--preto-claro);
  margin: 0 0 0 60px;
}

.trabalhos__imagem {
  max-width: 100%;
  min-width: 100%;
}

.trabalhos__titulo {
  margin-bottom: 10px;
  padding: 5px;
}

.trabalhos__subtitulo {
  padding: 5px;
}

.trabalhos__descricao {
  text-align: justify;
  font-weight: 400;
  padding: 5px;
}
